//colors

$white: white;
// $lightGray: #DEE1DD;
// $gray: #c4c9c2;
$lightGray: #f0f1f7;
$gray: #DEE1DD;
$lightBlue: #99AEAD;
$blue: #6D9197;
$darkBlue: #457077;
$navyBlue: #2d575e;
$black: black;
$red: #e63737;
$lightRed: #f70000;

//spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//borders

$s-radius: 4px;
$m-radius: 8px;

//screen

$desktop-breakpoint: 570px
