button {
    height: 29px;
    padding: 0 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: $s-radius;
}

.create__button {
    background-color: $lightBlue;
}

.create__button:hover {
    background-color: $blue;
}

.delete__button {
    background-color: $red;
    color: $white;
}

.delete__button:hover {
    background-color: $lightRed;
    color: $white;
}

.margin__button {
    margin-right: 10px;
}
